body {
  background: rgb(165,170,175);
  background: radial-gradient(circle, rgba(165,170,175,1) 34%, rgba(68,82,99,1) 100%);
}

h1 {
  background: rgb(17,17,14);
  background: radial-gradient(circle, rgba(17,17,14,1) 52%, rgba(181,203,203,1) 99%);
  color: white;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  padding: 1rem;
  text-align: center;

}

p {
  color: rgb(3, 3, 3);
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  padding: 5rem;
  text-align: center;
}

ul.nav.nav-tabs {
  background: rgb(152,152,144);
  background: radial-gradient(circle, rgba(152,152,144,1) 56%, rgba(80,85,85,1) 95%);
  color: rgb(167, 133, 133);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  }
  
  ul.nav.nav-tabs:hover {
    background: rgb(152,152,144);
    background: radial-gradient(circle, rgba(152,152,144,1) 56%, rgba(80,85,85,1) 95%);
}

div.card-body {
  background: rgb(240,238,227);
  background: radial-gradient(circle, rgba(240,238,227,1) 63%, rgba(173,180,182,1) 100%);
  color: #3F403E;
  color: rgb(167, 133, 133);
  color: #3F403E;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48.4463px 92.048px;
}

.home-intro {
  background: rgb(240,238,227);
  background: radial-gradient(circle, rgba(240,238,227,1) 63%, rgba(173,180,182,1) 100%);
  color: #3F403E;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48.4463px 92.048px;
}

.container1 {
  background: rgb(17,17,14);
  background: radial-gradient(circle, rgba(17,17,14,1) 52%, rgba(181,203,203,1) 99%);
  color: #3F403E;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48.4463px 92.048px;
}

.box2 {
  background-image: url('https://images.unsplash.com/photo-1612838326820-4b3b3b3b3b3b'); /*test*/
}

h3 {
  color: black;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  padding: 1rem;
  text-align: center;
}

li {
  color: black;
  font-weight: bold;

  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  padding: 0.25rem;
  text-align: center;
}

li:hover {
  background: rgb(152,152,144);
  background: radial-gradient(circle, rgba(152,152,144,1) 56%, rgba(80,85,85,1) 95%);
}

.Portfolio-image {
  border-radius: 10%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 10px 10px 10px #3F403E;
}

.Blog-icon {
  border-radius: 10%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  box-shadow: 10px 10px 10px #3F403E;
}

.GH-icon {
  border-radius: 10%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  box-shadow: 10px 10px 10px #3F403E;
}

.LinkedIn-icon {
  border-radius: 10%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  box-shadow: 10px 10px 10px #3F403E;
}

.Medium-icon {
  border-radius: 10%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  box-shadow: 10px 10px 10px #3F403E;
}

.YouTube-icon {
  border-radius: 10%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  box-shadow: 10px 10px 10px #3F403E;
}

.hero-banner {
  background: rgb(240,238,227);
  background: radial-gradient(circle, rgba(240,238,227,1) 63%, rgba(173,180,182,1) 100%);
  color: #3F403E;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px #3F403E;
}
.container3 {
  background: rgb(240,238,227);
  background: radial-gradient(circle, rgba(240,238,227,1) 63%, rgba(173,180,182,1) 100%);
  color: #3F403E;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48.4463px 92.048px;
  width: 100%;
}