body {
  background: rgb(165,170,175);
  background: radial-gradient(circle, rgba(165,170,175,1) 34%, rgba(68,82,99,1) 100%);
}

h1 {
  background: rgb(5,28,51);
  background: radial-gradient(circle, rgba(5,28,51,1) 34%, rgba(68,82,99,1) 100%);
  color: white;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  padding: 1rem;
  text-align: center;

}

p {
  color: rgb(3, 3, 3);
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  padding: 5rem;
  text-align: center;
}

ul.nav.nav-tabs {
  background: rgb(139,137,127);
  background: linear-gradient(0deg, rgba(139,137,127,1) 0%, rgba(139,119,75,1) 100%);
  color: rgb(167, 133, 133);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  }
  
  ul.nav.nav-tabs:hover {
    background: rgb(109, 110, 105);
}

div.card-body {
  background: rgb(240,238,227);
  background: radial-gradient(circle, rgba(240,238,227,1) 63%, rgba(173,180,182,1) 100%);
  color: #3F403E;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48.4463px 92.048px;
}

.home-intro {
  background: rgb(240,238,227);
  background: radial-gradient(circle, rgba(240,238,227,1) 63%, rgba(173,180,182,1) 100%);
  color: #3F403E;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48.4463px 92.048px;
}

.container1 {
  background: rgb(240,238,227);
  background: radial-gradient(circle, rgba(240,238,227,1) 63%, rgba(173,180,182,1) 100%);
  color: #3F403E;
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48.4463px 92.048px;
}

.portfolio-image {
  background-image: url('./portfolioimage.png');
}