.header {
    background-color: #808080;
    color: #ffffff;
    font: 16px Arial, sans-serif;
    height: 200px;
}

.header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.header h2 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}